{% load seo_extras %}<tr>
  {% if row_drag %}<th style="width:26px"></th>{% endif %}
  <th class="th-title">عنوان</th>
  {% if not hide_project %}<th class="nowrap-c">پروژه</th>{% endif %}
  <th class="nowrap-c">مسئول</th>
  <th class="nowrap-c">تاریخ برنامه</th>
  <th class="nowrap-c">وضعیت</th>
  <th class="nowrap-c">زمان / تخمین</th>
  {% if editable %}{% for c in extra_columns %}<th class="nowrap-c">{{ c.label }}</th>{% endfor %}<th style="width:26px" class="chk-col">{% if can_edit_task %}<input type="checkbox" class="check-all">{% endif %}</th>{% endif %}
</tr>
